html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #742305;
}
.container {
    display: flex;
}
 @media  screen and  (max-width:767px){
    .container {
        flex-direction: column;
    }
 }
header {
    width: 500px;
    border-radius: 20px;
}

nav {
    background-color: #fef7e2;
    display: flex; /*rendo mobile*/
    align-items: center; /*allineo verticalmente*/
    padding:20px;
}

.nav { 
    display:flex;
    align-items:center;
    justify-content: center;
     margin: 12px;
    background-color: #ffdf7e ;
    border-radius: 30px;
    height: 50px;
    width: 100px;

    
}

.differentImg {
    height: 30px;
}

.different {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #ffdf7e;
    margin: 10px;
    border-radius: 30px;
}
h1 {
    color: #742305;
}

.containerCard {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 18vw;
    padding: 12px;
}

.imgCard {
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contentCard {
    background-color: #fef7e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    color: #742305;
}

.textCard {
    display: flex;
    justify-content: start;
}

.name {
    text-align: center;
}

.bio {
    text-align: center;
}

.price {
    text-align: center;
}

.btnCard button {
    background-color: #ffdf7e;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    color:  #742305;
    font-weight: bold;
}

.article {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #fef7e2;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
}
.sectionArticle h2 {
    color:  #742305;
}
.article img {
    width: 100%;
}

/*cambiamenti*/
@media screen and (max-width: 576px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav {
        flex-wrap: wrap;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        width: 350px;

    }
    .different {
        order:-1;
        width: 300px;
    }
}


@media screen and (min-width:768px) {
    nav {
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
    }
    .different {
        order:-1;
        flex-basis: 70px;
    }
}

@media screen and (min-width: 768px) {
    main {
      height: 100vh;
      overflow: auto;
      padding: 24px;
    }
    .containerCard {
        flex-direction: row;
        flex-basis: 30%;
        flex-wrap: nowrap;
    }
}

    @media screen and (min-width: 768px) and (max-width:991.9px) {
    .card:nth-last-child(2) {
        display:none;
    }
    .card:nth-last-child(3) {
        display:none;
    }
}
    

@media screen and (min-width: 992px) and (max-width:1119.9px) {
    .card:nth-last-child(3) {
        display:none;
    }
}

